html {
  --color1: #000;
  --color2: #bac5cc;

  --accent-bg-color: #be8383;
  --accent-text-color: #fff;

  --body-color: var(--color1);
  --body-bg: #fff;
  
  --mobile-screens: 100%;
  --laptop-screens: clamp(32rem, 100%, 60rem);
  --desktop-screens: clamp(48rem, 100%, 60vw);
  
  --content-container-width: var(--mobile-screens);
}

body {
  margin: 0;
  font-family: 'Fira Sans Condensed', Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: var(--body-color);
  background-color: var(--body-bg);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.5em 0;
  font-weight: 600;
  line-height: 1.2;
  color: var(--color1);
}

h1 {
  font-size: 2em;
}

a {
  color: inherit;
}


nav ul {
  list-style: none;
  padding: 0 0;
  margin: 0 0;
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 40rem) {
  html {
    --content-container-width: var(--laptop-screens);
  }
}

@media (min-width: 120rem) {
  html {
    --content-container-width: var(--desktop-screens);
  }

  body {
    font-size: 0.85vw;
  }
}